<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

<div class="header mdl-layout mdl-js-layout">
  <div data-ui-field="header-box" layout="row center-center">
    <div class="title">
    </div>
    <div class="title">
    </div>
    <div class="title">
    </div>
  </div>
</div>
<div data-ui-field="header-tools">
  <div class="topics" data-ui-load="@lib/controllers/view_pager" data-ui-options="options.topicIndicator">
    <div class="header-text">
      Upload Picture
    </div>
    <div class="header-text">
      Results
    </div> 
  </div>
</div>
